{% extends 'bootstrap.twig' %}

{% block main_container %}

		<div class="col-md-8">
			<img src="../uploads/{{filename}}"/></br>		
		</div><!--col md 8-->
		
		<div class="col-md-4">
			<h3>Image Details</h2>
			<p>Filename: {{ filename }}</p>
			<p>Width: {{ width }} </p>
			<p>Height: {{ height }} </p>
				
		<div id="snippycalc">
			<p>Suggested Snips: {{ snips }}</p>
		</div><!--snippycalc-->
		
		</div><!--/.col md 4-->
			
{% endblock %}